<!--
If you want to include any custom html just before </head>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could insert this custom css, which makes the bigimg not stretch:
<style>
.intro-header.big-img, .intro-header.big-img  .big-img-transition {
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  background-size: contain !important;
  -o-background-size: contain !important;
  background-color: lightgrey;
}
</style>
-->
<!-- or you could include some additional css libraries:
-->
<link rel="stylesheet" href="https://drres.github.io/blogdown/dont_remove/blogdownCSS.css" />
<!-- 
<script src="/home/shin/R-3.4.4/library/rmdformats/templates/html_clean/clean.js"></script>
-->
<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration -->

<!-- index -->
<script type="text/javascript">
$(function() {
  var idcount = 1;
  var toc = '';
  var currentlevel = 0;
  $(".entry-content :header",this).each(function(){
      this.id = "toc_" + idcount;
      idcount++;
      var level = 0;
      if(this.nodeName.toLowerCase() == "h2") {
          level = 1;
      } else if(this.nodeName.toLowerCase() == "h3") {
          level = 2;
      } else if(this.nodeName.toLowerCase() == "h4") {
          level = 3;
      } else if(this.nodeName.toLowerCase() == "h5") {
          level = 4;
      }
      while(currentlevel < level) {
          toc += "<ul>";
          currentlevel++;
      }
      while(currentlevel > level) {
          toc += "</ul>";
          currentlevel--;
      }
      toc += '<li><a href="#' + this.id + '">' + $(this).html() + "<\/a><\/li>\n";
  });
  if(toc){ toc = '<div class="mokuji_wrap"><div class="mokuji">【目次】</div>' + toc + '</div>'; }
  $("#toc").html(toc);
 
  //ページ内リンク#非表示。加速スクロール
  $('a[href^=#]').click(function(){
      var   speed = 1000,
              href= $(this).attr("href"),
              target = $(href == "#" || href == "" ? 'html' : href),
              position = target.offset().top;
      $("html, body").animate({scrollTop:position}, speed, "swing");
      return false;
  });
});
</script>